-- Function to get guest orders
CREATE OR REPLACE FUNCTION get_guest_orders(guest_id_param text)
RETURNS SETOF orders AS $$
BEGIN
  RETURN QUERY 
  SELECT * 
  FROM orders 
  WHERE is_guest_order = true 
    AND guest_id = guest_id_param;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
